.barcode {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: rgba(170, 34, 34, 0.07);
    width: 100%;

    &__image-1,
    &__image-2 {
        position: absolute;
        width: 30%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        opacity: 1;
    }

    &__image-1 img,
    &__image-2 img {
        width: 100%;
        height: 45%;
        border-radius: 10px;
    }

    .line-vertical-right,
    .line-vertical-left,
    .line-horizontal-bottom,
    .line-horizontal-top {
        position: absolute;
        background-color: black;
        z-index: 2;
        transform-origin: center;
        clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
    }

    .line-vertical-right {
        right: -20px;
        top: 0;
        bottom: 45%;
        width: 2px;
    }

    .line-vertical-left {
        left: -20px;
        top: -60px;
        bottom: 55%;
        width: 2px;
    }

    .line-horizontal-bottom {
        bottom: 50%;
        left: 0;
        right: 0;
        height: 2px;
    }

    .line-horizontal-top {
        top: -20px;
        left: 0;
        right: 0;
        height: 2px;
    }

    &__image-1 {
        top: 5%;
        left: 3%;
        animation: slideInLeft 2s forwards ease-in-out;
    }

    &__image-2 {
        top: 50%;
        right: 20%;
        animation: slideInRight 2s forwards ease-in-out;
    }

    &__text {
        position: absolute;
        bottom: -50%;
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        text-align: center;
        opacity: 0;
        animation: slideInBottom 2s forwards ease-in-out, fadeIn 2s forwards ease-in-out;

        h2 {
            font-weight: 700;
            font-size: 56px;
        }

        h3 {
            font-weight: 500;
            font-size: 37px;
        }

        button {
            max-width: 120%;
            width: 70%;
            height: 50px;
            border: none;
            text-align: center;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 20px;
            border-radius: 20px;
            background-color: #c61919;
            color: white;
            transition: background-color 0.3s, transform 0.3s;

            button:hover {
                background-color: #ff3333;
                transform: scale(1.05);
            }
        }
    }

    @keyframes slideInLeft {
        from {
            left: -50%;
            opacity: 0;
        }

        to {
            left: 3%;
            opacity: 1;
        }
    }

    @keyframes slideInRight {
        from {
            right: -50%;
            opacity: 0;
        }

        to {
            right: 3%;
            opacity: 1;
        }
    }

    @keyframes slideInBottom {
        from {
            bottom: -50%;
        }

        to {
            bottom: 20%;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 940px) {
    .barcode {
        .barcode__image-1,
        .barcode__image-2 {
            width: 40%;
            height: 100%;
        }

        .barcode__text h2 {
            font-size: 39px;
            position: relative;
            top: -200px;
            left: 100%;
        }

        .barcode__text h3 {
            font-size: 30px;
            position: relative;
            top: 40px;
            right: 140%;
        }

        .barcode__text button {
            position: absolute;
            bottom: -25%;
            right: 130%;
            padding: 8px;
            width: 100%;
            height: 13%;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 500px) {
    .barcode {
        .barcode__image-1,
        .barcode__image-2 {
            width: 40%;
            height: 75%;
        }

        .barcode__text h2 {
            font-size: 33px;
            position: relative;
            bottom: 100%;
            left: 100%;
        }

        .barcode__text h3 {
            font-size: 23px;
            position: relative;
            right: 140%;
            top: 0;
            text-align: center;
        }

        .barcode__text button {
            bottom: -20%;
            width: 100%;
            height: 11%;
            font-size: 14px;
            padding: 0;
        }
    }
}
