.scrollable-content {
  height: 100vh; /* Ensure the content is 100% of viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('https://static.bnr.bg/gallery/cr/7727d2c8f69cc05dde1e37b92a3726e7.jpg');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.text-container {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateX(-100%); /* Start position outside of the viewport */
  transition: transform 0.5s ease-in-out; /* Transition for transform */
  z-index: 2;

}

.scrolling-text-content {
  font-size: 48px; /* Adjust text size as needed */
  color: black; /* Set text color to black */
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Transition for opacity */
}

.background-image.show-text + .text-container {
  transform: translateX(0); /* Slide text in from the left side */
}

.background-image.show-text + .text-container .scrolling-text-content {
  opacity: 1;
}



.white-background {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 1;
}
